<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer__container">
        <div class="footer-column">
            <h3>Daniel Esteban Rodriguez Velasco</h3>
            <h3>Derechos reservados</h3>
        </div>
   </footer>
</body>
</html>