<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu__container">
        <div class="menu__icons">
            <ul>
                <li ><a href="/">Acerca de Mi</a></li>
                <li ><a href="/estudios">Estudios</a></li>
                <li ><a href="/habilidades">Habilidades</a></li>
                
            </ul>
        </div>
    </div>
</body>
</html>