<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/curriculum.css">
    <title>Curriculum Vitae</title>
</head>
<body>
    <div class="container">
        <%- include('templates/navbar');%>


        <div class="perfil__container">
                 
            <div class="contact-info">
                <h1>Habilidades</h1>
                <ul class="list__conatiner">
                    
                    <li><span>Php:</span> Intermedio </li>
                    <li><span>Java:</span> Avanzado </li>
                    <li><span>Mysql:</span> Avanzado</li>
                    <li><span>Laravel:</span> Avanzado </li>
                    <li><span>React:</span> Bajo </li>
                    <li><span>Css:</span> Avanzado </li>
                </ul>
            </div>
        </div>
        <%- include('templates/footer');%>
        

        
    </div>

    <script src="assets/js/cv.js"></script>
</body>
</html>